<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <div style="margin:300px 1000px 0 1000px;">
        <p><h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp明水洞天</h2></p>
        <p>用户名:<input id="user_name"></p>
        <p>密&nbsp&nbsp&nbsp码:<input id="password" type="password"></p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" onclick="saved_to_server();" id="login">登陆</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#">注册</a></p>
    </div>
</body>


<script>
    var input = document.getElementById("login");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("login").click();
        }
    });
    function saved_to_server(){
        var user_name = document.getElementById("user_name").value;
        var password = document.getElementById("password").value;
        $.ajax({
            type:"post",
            url:"/set_token",
            dataType:"json",
            traditional:true,
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            data:{
                "user_name": user_name,
                "password": password,
            },
            success:function(data){
                if(data=="no"){
                    alert("请确认账号密码是否正确。");
                }else{
                    window.location.href="/user_index";
                }
            }
        })
    }
</script>
</html>